html, body { height: auto; margin: 0; }


html {
  overflow-x: hidden;
  scrollbar-width: none;
  max-width: 100%;
}

body {
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  height: 56px;
  border-bottom: 1px solid black;
}

.brand {
  font-size: 13px;
  font-family: "Special Elite";
  padding-left: 15px;
  padding-top: 2.5px;
}

.menu {
  display: flex;
  list-style: none;
  gap: 20px;                  
  margin: 0;
  padding: 0;
  font-family: "Noto Sans";
  font-size: 14px;
  margin-top: -1px;
}

.menu a {
  text-decoration: none;
  color: #111827;
  padding: 8px 6px;
  font-size: 13px;
  font-family: "Special Elite";
}

.menu a:hover {
  color: #2563eb;
}



.wrapper {
  display: flex;
  flex-direction: column;
}


main { flex: 1; }                  

.site-footer {
  font-family: "Noto Sans KR";
  background: white; 
  color: black;
  padding: 10px; 
  padding-bottom: 12px;
  text-align: center;
  border-top: 1px solid black;
  font-size: 8px;
  display: flex;
  flex-direction: column;
  letter-spacing: -0.3px;
}


img {
  margin: 0;
  padding: 0;
  max-width: 100%;
  display: block;
}

.mid {
    text-align: center;
}



.box {
  display: flex;
  flex-direction: column;
}

.text {
  text-align: left;
  font-family: "Noto Sans", "Noto Sans KR";
  overflow-wrap: break-word;
}

h1 {
  margin: 30px;
  font-weight: 500;
  letter-spacing: -2px;
  font-size: 90px;
}

h2 {
  margin: 30px;
  font-weight: 300;
  font-size: 23px;
}

h3 {
  margin-left: 30px;
  margin-bottom: 5px;
  font-weight: 400;
}

h4 {
  margin-left: 30px;
  margin-top: 0;
  font-weight: 400;
}



@media (max-width: 1300px) {
    
    .box {
        flex-direction: column;
    }

    .site-footer {
      margin-top: 10px;
    }
  }


hr {
  border: 0.5px solid black; width: 100vw; margin: 0;
}


.center {
  text-align: center !important;
}

.img-row{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;   
  gap: 12px;         
}


.about {
  font-family: "Special Elite";
  display: flex; justify-content: center;
  line-height: 1.3;
}
