html, body { 
  height: auto; 
  margin: 0; 
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;

}


html {
  overflow-x: hidden;
  scrollbar-width: none;
}

body {
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  height: 56px;
  border-bottom: 1px solid black;
  max-width: 100%;
  overflow-x: hidden;
}

.brand {
  font-size: 12px;
  font-family: "Special Elite";
  padding-left: 15px;
  padding-top: 3px;
}

.menu {
  display: flex;
  list-style: none;
  gap: 20px;                  
  margin: 0;
  padding: 0;
  font-family: "Noto Sans";
  font-size: 14px;
  margin-top: -1px;
}

.menu a {
  text-decoration: none;
  color: #111827;
  padding: 8px 6px;
  font-size: 13px;
  font-family: "Special Elite";
}

.menu a:hover {
  color: #2563eb;
}


main { flex: 1; }      

.site-footer {
  font-family: "Noto Sans KR";
  background: white; 
  color: black;
  padding: 10px; 
  padding-bottom: 12px;
  text-align: center;
  border-top: 1px solid black;
  font-size: 8px;
  display: flex;
  flex-direction: column;
}


img {
  margin: 0;
  padding: 0;
  max-width: 100%;
  display: block;
}

.mid {
    text-align: center;
}

.box {
  display: flex;
  justify-content: left;
  overflow-wrap: break-word;
  word-break: break-all;
}

.text {
  text-align: left;
  font-family: "Noto Sans", "Noto Sans KR";
  overflow-wrap: break-word;
}

h1 {
  margin: 30px;
  font-weight: 500;
  letter-spacing: -2px;
  font-size: 90px;
}

h2 {
  margin: 21px;
  font-weight: 300;
  font-size: 21px;
  margin-bottom: 30px;
}

h3 {
  margin-left: 30px;
  margin-bottom: 5px;
  font-weight: 400;
}

h4 {
  margin-left: 30px;
  margin-top: 0;
  font-weight: 400;
}


.mainimg {
  width: 55%;
  height: auto;
}


@media (max-width: 1200px) {
    
    .box {
        flex-direction: column;
    }

    .mainimg {
      width: 100%;
    }

  }

.center {
  text-align: center !important;
}

.post {
  flex: 1;
  min-width: 0;
}

.page-numbers {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background: white;
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.page-btn {
  border: none;
  background: none;
  cursor: pointer;
  padding: 4px 8px;
  font-size: 10px;
}

.page-btn.active {
  font-weight: bold;
  text-decoration: underline;
}

.post-item.hidden {
  display: none;
}

::-moz-selection {
  background: #246B4A;
  color: white;
}


::-moz-selection {
  background: #246B4A;
  color: white;
}